body {
  font-family: 'Open Sans', sans-serif;
  background: #001821;
  color: aliceblue;
  margin: 0px;
}

.wrapper {

  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;


}

.container {
  margin: 0 auto;
  width: 1168px;
}
.top-line {
  min-height: 415px;
  display: flex;
  flex-direction: column;
  padding-bottom: 23.5px;
  background: #02141E url('./img/headline.service.png') right 10% top no-repeat;
}

.top-line__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding-top: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--align--right {
  justify-content: flex-end;
}

.logo {
  display: block;
  margin-right: 79px;
}

.menu {
  display: flex;
}

.contacts {
  color: #ffffff;
  font-style: normal;
  text-align: right;
}

[href] {
  color: #ffffff;
  text-decoration: none;
}

.menu__item {
  display: inline-flex;
  vertical-align: middle;
  margin-right: 50px;

}

.menu__item:last-child {
  margin-right: 0px;
}

.menu__link {
  font-size: 14px;

}

.menu__link:hover {
  color: #FF160D;
  transition: .7s;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

}

.dropdown {
  position: relative;
}

.dropdown:hover .dropdown__menu {
  right: 0px;
  opacity: .8;

}

.dropdown:hover .dropdown__link {
  color: #fff;
  transition: .7s;
}
  

.dropdown__menu {
  display: block;
  width: 160px; 
  height: 80px; 
  background: #CDD1D2;
  position: absolute;
  border-radius: 10px;
  top: 100%;
  padding: 22px 19px;
  right: -9999px;
  opacity: 0;
  transition: opacity .4s;
  margin-top: 16px;

     
}
.dropdown__menu:before {
  content: "";
  display: block;
  width: 0; 
  height: 0;
  position: absolute; 
  bottom: 90%; 
  right: calc(30% - 10px);
  border-left: 12px solid transparent;
  border-bottom: 24px solid #CDD1D2;
  border-right: 12px solid transparent;
}

.dropdown__menu:after {
  content: "";
  display: block;
  height: 30px;
  left: 0px;
  right: 0px;
  top: -29px;
  position: absolute; 
}

.dropdown__link {
  text-decoration: underline;
  color: #98A4A8;
  font-size: 13px;
}

.dropdown__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dropdown__item {
  font-size: 13px;
  font-weight: 600;
  color: #1E1F20;

}

.dropdown__item--bold {
  font-weight: bold;
}

.page-title {
  font-weight: 700;
  font-size: 72px;
  line-height: 1;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
  padding-left: 2px;

}

.breadcrumbs__item:first-child {
  padding-left: 0px;
}

.breadcrumbs__item:after {
  content: "/";
  color: #9A9A9A;
  padding-left: 2px;
}

.breadcrumbs__item:last-child::after {
  display: none;
}
.breadcrumbs__item--active .breadcrumbs__link {
  color: #9A9A9A;
  text-decoration: none;
  transition: .7s;
}

.breadcrumbs__link {
  color: #FF160D;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
}

.page-content--services {
  background: #F2F2F2;
  color: #303030;
  padding: 98px 0px;
  display: flex;
  flex-direction: column;
}

.page-content__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.services {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 65px;
  
}

.service {
  display: flex;
  padding: 0px 0px;
  margin-bottom: 49px;
}

.service:last-child {
  margin-bottom: 0px;
}

.service:hover {
  background: #d4fbfb;
  transition: .7s;
}

.service__img {
  width: 40%;
  margin-right: 5%;
}

.service__content {
  flex: 1;
}

.service__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 28.5px;
  color: #000000;
  margin-top: 12px;
}

.service__description {
  line-height: 27px;
  margin-bottom: 50.5px;
  max-width: 623px;
  min-height: 136px;
}

.btn {
  padding: 18px 40px;
  color: #F5170E;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #F5170E;
  border-radius: 35px;
  width: 168px;
  height: 55px;
}

.btn--color--white {
  background: #F5170E;
  color: #ffffff;
}

.btn--color--white:hover {
  background: #ffffff;
  color: #F5170E;
  transition: .9s;
}

.btn--color--red:hover {
  background: #F5170E;
  color: #ffffff;
  transition: .9s;
}


.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.paginator--theme--light .paginator__link {
  color: #000;
}

.paginator--theme--light .paginator__item--active .paginator__link {
  color: #FFFFFF;
  background: #F5170E;
  transition: .9s;
}

.paginator--theme--light .paginator__link:hover {
  color: #FFFFFF;
  background: #F5170E;
  transition: .9s;
}

.paginator__display {
  margin-right: 24px;

}

.paginator__list {
  display: flex;
  align-items: center;
}


.paginator__item {
  text-align: center;
  margin-top: 8px;
}

.paginator__item--active .paginator__link {
  background: #FFFFFF;
  color: #F5170E;
  transition: .9s;
}

.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-weight: bold;
  line-height: 30px;
  text-decoration: none;

} 

.inner-section {
  background: #ffffff;
  color: #1A1B1E;
  padding: 83px 0px;

}

.inner-section--bg--white {
  background: #F4F5F5;

}


.partners {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 34px;

}



.inner-section__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  margin-bottom: 79px;
}

.partners__item {
  margin-left: 133px;
  margin-bottom: 80px;
}

.partners__item:nth-child(4n + 1) {
  margin-left: 0px;
}

.partners__item:nth-child(1n + 5) {
  margin-bottom: 0px;
}

.partners__link {
  text-decoration: none;
  display: flex;
  width: 190px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.footer-section {
  margin-top: auto;
}

.footer-container__content {
  border-top: 1px solid rgba(255, 255, 255, .1)
}

.footer {
  height: 92.64px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 57.36px;
  margin-top: 22px;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
  justify-content: flex-end;
}

.footer .logo {
  display: inline-flex;


}

.footer .menu {
  display: inline-flex;
}

.footer .networks {
  margin-right: 74px;
}


.footer .networks__item {
  display: inline-flex;
  vertical-align: middle;
  margin-right: 10px;
}

.footer .networks__item:last-child {
  margin-right: 0px;
}

.footer .networks__item--icon--tg .networks__link {
  width: 36px; 
  height: 36px;
  background: url('./img/tg-sprites.png') -66px -10px;
}

.footer .networks__item--icon--tg .networks__link:hover {
  width: 36px; 
  height: 36px;
  background: url('./img/tg-sprites.png') -10px -10px;
  transition: 1s;
}

.footer .networks__item--icon--vk .networks__link {
  width: 36px; 
  height: 36px;
  background: url('./img/vk-sprites.png') -66px -10px;
}

.footer .networks__item--icon--vk .networks__link:hover {
  width: 36px; 
  height: 36px;
  background: url('./img/vk-sprites.png') -10px -10px;
  transition: 1s;
}

.footer .networks__link {
  display: block;
  width: 36px;
  height: 36px;
  text-decoration: none;
}

.footer .contacts {
  color: #ffffff;
}

.footer .contacts__info {
  margin-bottom: 6.5px;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  color: #9A9A9A;
}

